services:
  hytale:
    image: ghcr.io/f-gillmann/hytale-docker
    container_name: hytale
    restart: unless-stopped
    environment:
      AUTH_MODE: offline
    ports:
      - "5520:5520/udp"
    volumes:
      - ./data:/data
